<app-schedule></app-schedule>
<!--<div style="text-align:center">
&lt;!&ndash;  <h1>
    Welcome to {{title}}!
  </h1>
  <img width="300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">&ndash;&gt;


  <div class="table">
    <div class="caption"><div class="centered">Monday<br>11/05/2015</div></div>
    <div class="data-content">
      <div class="row heading even">
        <span>00:00</span><span>01:00</span><span>02:00</span><span>03:00</span><span>04:00</span><span>05:00</span><span>06:00</span><span>07:00</span><span>08:00</span><span>09:00</span><span>10:00</span><span>11:00</span><span>12:00</span><span>13:00</span><span>14:00</span><span>15:00</span><span>16:00</span><span>17:00</span><span>18:00</span><span>19:00</span><span>20:00</span><span>21:00</span><span>22:00</span><span>23:00</span>						</div>
      <div class="row r1" style="height: 38px;">
        <div class="item colspan-2 offset-13" style="height: 28px;">9 Events here</div>
        <div class="item colspan-2 offset-0" style="height: 28px;">3 Events here</div>
      </div>
      <div class="row r2" style="height: 38px;">
        <div class="item colspan-2 offset-0" style="height: 28px;">6 Events here</div>
      </div>
      <div class="row r3" style="height: 44px;">
        <div class="item colspan-2 offset-6" style="height: 34px;">6 Events here</div>
      </div>
      <div class="row r4" style="height: 38px;">
        <div class="item colspan-2 offset-5" style="height: 28px;">9 Events here</div>
      </div>
      <div class="row r5" style="height: 38px;">
        <div class="item colspan-2 offset-9" style="height: 28px;">3 Events here</div>
      </div>
      <div class="row r6" style="height: 38px;">
        <div class="item colspan-2 offset-5" style="height: 28px;">2 Events here</div>
      </div>
      <div class="row r7" style="height: 38px;">
        <span class="item colspan-2 offset-9" style="height: 28px;">2 Events here</span>
      </div>
      <div class="row r8" style="height: 38px;">
        <div class="item colspan-2 offset-3" style="height: 28px;">2 Events here</div>
      </div>
      <div class="row r9" style="height: 38px;">
        <span class="item colspan-2 offset-12" style="height: 28px;">3 Events here</span>
      </div>
      <div class="row r10" style="height: 38px;">
        <div class="item colspan-2 offset-4" style="height: 28px;">5 Events here</div>
      </div>
    </div>
  </div>
</div>-->
<!--<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>-->
